<!DOCTYPE html>
<html>
<head>
<title>Simple Leaflet Map</title>
<meta charset="utf-8" />
<!-- Leaflet CSS/js -->
<link rel="stylesheet" type="text/css" href="lib/leaflet/leaflet.css">
<link rel="stylesheet" type="text/css" href="leaflet-routing-machine.css">

</head>
<body>
	<input type="hidden" required name='txtLat' id='txtLat'  value='-25.97859278789347' th:text="${entrega.destino.latitude}">
    <input type="hidden" required name='txtLog' id='txtLog'  value='32.433611294284866' th:text="${entrega.destino.longitude}">
	<div id="demo" style="width: 100%; height: 100vh"></div>
	<script type="text/javascript" src="lib/leaflet/leaflet.js"></script>
	<script type="text/javascript" src="leaflet-routing-machine.js"></script>


	<script>
		var txtLat = document.querySelector("#txtLat").value;
		var txtLog = document.querySelector("#txtLog").value;
		
		 var map = L.map('demo').setView([txtLat, txtLog], 20);    
	    //google satellite
	    googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
	        maxZoom: 20,
	        subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
	    });
	     googleSat.addTo(map)
var routing = L.Routing.control({
			waypoints: [
			L.latLng(txtLat, txtLog),
			L.latLng(txtLat, 32.443611294284866)
			]
		})
		
		routing.addTo(map);

		 L.marker([txtLat, txtLog]).addTo(map)
            .bindPopup('vc esta aqui!')
            .openPopup();
    
    

	</script>
</body>